.sub-container {
  width: 100%;
  height: 90vh;
  position: relative;
}

.sub-container img {
  width: 100%;
  height: 50vh;
  position: relative;
  top: 15%;
}

.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 15%;
}

.content-container h5 {
  font-family: var(--font-family-opensans);
}

.content-container h6 {
  font-family: var(--font-family-rajdhani);
  font-size: 17px;
}

@media screen and (min-height: 800px) {
  .content-container {
    top: 5%;
  }
}